@use "../scss/partials/variables" as v;
@use "../scss/partials/mixins" as m;
@import "../css/normalize.css";
@import "../scss/partials/desktop";
@import "../scss/partials/menu";
@import "../scss/partials/apps";
@import "../scss/partials/modals";
@import "../scss/partials/calculator";

//Global Styles

html {
	font-family: v.$primary-font;
	box-sizing: border-box;
}

p {
	line-height: 0;
}
